input[type="range"] {
  -webkit-appearance: none;
  height: 2px;
  border-radius: 5px;
  background: black;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  display: block;
  height: 20px;
  width: 40px;
  @apply rounded-[30px];
  @apply border-[2px] border-black border-solid;
  background: white;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
